*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Root,.Body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.TriageWeb-header{
    background-color: #007AFF;
}
.Feature--dragLeft{
    background-color: #FF2D55;
}
.Feature--dragRight{
    background-color: #000000;
}
.Feature--tap{
    background-color: #FFB800;
}
.Feature--reply{
    background-color: #7000FF;
}
.Feature-info{
    background-color: #F2F2F2;
}
.Feature-testimonials{
    background-color: #FFFFFF;
}

.Feature{
    height: 800px;
}


/* seccion de info */
.Info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F2F2F2;
}
.Info-div{
    background-color: azure;
    border-radius: 20px;
    margin: 20px;
    width: 300px;
    height: 200px;
}

.work{
    background-color: #007AFF;
}
.processing{
    background-color: #FFB800;
}
.data{
    background-color: #FF2D55;
}
.dark{
    background-color: #000000;
}
.free{
    background-color: #7000FF;
}
.build{
    background-color: #FFFFFF;
}