.Color1{
    background-color: #007AFF;
}
.Color2{
    background-color: #FF2D55;
}
.Color3{
    background-color: #000000;
}
.Color4{
    background-color: #FFB800;
}
.Color1{
    background-color: #7000FF;
}
.Color1{
    background-color: #F2F2F2;
}
.Color1{
    background-color: #FFFFFF;
}